.dashboard-container {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.dashboard-select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dashboard-select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  text-align: center;
}

.dashboard-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-chart {
  flex: 1 1 30%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dashboard-chart h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #555;
}
.dark-theme {
  background-color: #333; 
  color: #fff; 
}

.dark-theme .dashboard-chart {
  border-color: #ccc; 
  background-color: #444;
}
.dark-theme .dashboard-title {
  color: white;
}
.dark-theme .dashboard-chart h4 {
  color: white;
}

.light-theme {
  background-color: #fff;
  color: #333; 
}

.light-theme .dashboard-chart {
  border-color: #ccc; 
  background-color: #f9f9f9; 
}

.light-theme .dashboard-chart h4 {
  color: #555; 
}


@media (max-width: 768px) {
  .dashboard-charts {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-chart {
    width: calc(100% - 20px); 
    max-width: 400px; 
    margin: 10px 0;
  }
}
