.App {
  background-color: #ffffff;;
  color: #ffffff;
  min-height: 100vh;
}

.chart-container {
  margin: 20px;
}

.dashboard {
  width: 100%;
}

.dark-theme {
  background-color: #333; 
  color:white;
}

.dark-theme .dashboard-select,
.dark-theme .dashboard-chart {
  border-color: white; 
}

.dark-theme .dashboard-chart {
  background-color: #444; 
}

.dark-theme .theme-toggle-btn {
  background-color: #fff;
  color: #333;
}

.light-theme {
  background-color: #fff; 
  color: #333; 
}

.light-theme .dashboard-select,
.light-theme .dashboard-chart {
  border-color: #ccc; 
}

.light-theme .dashboard-chart {
  background-color: #f9f9f9; 
}

.light-theme .theme-toggle-btn {
  background-color: #333;
  color: #fff;
}

.switch {
  position: absolute;
  top: 40px;
  right: 40px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:  rgb(111, 236, 111);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px; 
  }

  .dashboard-charts {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-chart {
    width: calc(100% - 20px); 
    max-width: 400px; 
    margin: 10px 0;
  }
}